$rootFontSize = 16px

$blue = #00a0e3;

html
	height 100%

body
	font-family sans-serif
	// min-height 100%
	position relative
	font-size $rootFontSize
	-webkit-text-size-adjust 100%
	-webkit-font-size-adjust 100%
	background-color #00a0e3
	height 100%
	padding 0 50px
	font-size 17px
	@media $max_xs
		font-size 15px
	@media $max_md
		padding 0 20px
	@media $max_sm
		width 992px
		padding 0 10px
	@media $max_xs
		width 100%
		padding 0

img
	display block

h1, h2, h3, h4, h5
	color #000
	line-height 18px
	font-weight 600
	margin-bottom 10px

h1
	font-size 25px
h2
	font-size 22px
h3
	font-size 20px
h4
	font-size 18px
h5
	font-size 17px

p
	margin-bottom 20px
	line-height 20px


ul, ol
	// list-style-position inside
	list-style none
	margin-bottom 20px
	li
		margin-bottom 10px

i
	font-style italic

b, strong
	font-weight 600

button
	border 0

a
	cursor pointer
	color #008dd2
	text-decoration underline
	&:hover
		text-decoration none

table
	width 100%
	border 1px solid #00a0e3
	border-collapse collapse
	td, th
		padding 10px
		border 1px solid #00a0e3

.-no-border, _no-border *
	border 0

.-img-left
	float left
	margin-right 14px

.-img-right
	float right
	margin-left 14px

.-img-left,
.-img-right
	margin-bottom 14px
	@media $max_xs
		width 100%
		height auto
		float none
		margin-left 0
		margin-right 0

.-text-center
	text-align center

.-middle-out
	font-size 0
	height 100%
	&:before
		content ''
		height 100%
		display inline-block
		vertical-align middle

.-middle-in
	display inline-block
	vertical-align middle
	font-size $rootFontSize

.b-container
	max-width 1600px
	width 100%
	margin 0 auto
	@media $max_xs
		position relative
		padding 0 10px

.-hidden-lg
	display none !important
	@media $max_lg
		display block !important

.-hidden-xs
	@media $max_xs
		display none !important

.fancybox-wrap,
.fancybox-wrap *
	-webkit-box-sizing content-box
	-moz-box-sizing content-box
	box-sizing content-box

.owl-carousel .owl-item
	-webkit-transform translateZ(0)
